[Unit]
Description=aur epiphyte pkgbuilds

[Service]
EnvironmentFile=/etc/environment
Type=oneshot
User=autobuild
Group=autobuild
ExecStart=/usr/bin/epiphyte-aur
